In [0]:
df_cust = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/202211037@daiict.ac.in/US_Regional_Sales_Data_Customers.csv")
df_loc = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/202211037@daiict.ac.in/US_Regional_Sales_Data_Store_Locations.csv")
df_prod = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/202211037@daiict.ac.in/US_Regional_Sales_Data_Products.csv")
df_reg = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/202211037@daiict.ac.in/US_Regional_Sales_Data_Regions.csv")
df_sales_team = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/202211037@daiict.ac.in/US_Regional_Sales_Data_Sales_Team.csv")
df_sales_ord = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/202211037@daiict.ac.in/US_Regional_Sales_Data_Sales_Order.csv")

In [0]:
df_cust.show(10)

+-----------+--------------+
|_CustomerID|Customer Names|
+-----------+--------------+
|          1|     Avon Corp|
|          2|     WakeFern |
|          3|  Elorac, Corp|
|          4|     ETUDE Ltd|
|          5|  Procter Corp|
|          6| PEDIFIX, Corp|
|          7|       New Ltd|
|          8|  Medsep Group|
|          9|           Ei |
|         10|      21st Ltd|
+-----------+--------------+
only showing top 10 rows

In [0]:
df_loc.show(10)

+--------+-----------+--------------------+---------+--------+----+--------+----------+--------+----------+----------------+-------------+---------+----------+---------------+
|_StoreID|  City Name|              County|StateCode|   State|Type|Latitude| Longitude|AreaCode|Population|Household Income|Median Income|Land Area|Water Area|      Time Zone|
+--------+-----------+--------------------+---------+--------+----+--------+----------+--------+----------+----------------+-------------+---------+----------+---------------+
|       1| Birmingham|Shelby County/Jef...|       AL| Alabama|City|33.52744| -86.79905|     205|    212461|           89972|        31061|378353942|   6591013|America/Chicago|
|       2| Huntsville|Limestone County/...|       AL| Alabama|City|34.69901| -86.67298|     256|    190582|           78554|        48775|552604579|   3452021|America/Chicago|
|       3|     Mobile|       Mobile County|       AL| Alabama|City|30.69436| -88.04305|     251|    194288|           76170|        38776|361044263| 105325210|America/Chicago|
|       4| Montgomery|   Montgomery County|       AL| Alabama|City|32.36681| -86.29997|     334|    200602|           79866|        42927|413985435|   4411954|America/Chicago|
|       5|Little Rock|      Pulaski County|       AR|Arkansas|City|34.74648| -92.28959|     501|    197992|           79902|        46085|307398785|   6758644|America/Chicago|
|       6|   Chandler|     Maricopa County|       AZ| Arizona|City|33.30616|-111.84125|     480|    260828|           88973|        72695|168153308|    260378|America/Phoenix|
|       7|    Gilbert|     Maricopa County|       AZ| Arizona|Town|33.35283|-111.78903|     480|    247542|           73617|        82424|176124143|    510475|America/Phoenix|
|       8|   Glendale|     Maricopa County|       AZ| Arizona|City|33.53865|-112.18599|     623|    240126|           79152|        46776|153029354|   1003996|America/Phoenix|
|       9|       Mesa|     Maricopa County|       AZ| Arizona|City|33.42227|-111.82264|     480|    471825|          168914|        48809|357097953|   1950781|America/Phoenix|
|      10|     Peoria|Maricopa County/Y...|       AZ| Arizona|City| 33.7862|-112.30801|     928|    171237|           58588|        65314|455011748|   8864869|America/Phoenix|
+--------+-----------+--------------------+---------+--------+----+--------+----------+--------+----------+----------------+-------------+---------+----------+---------------+
only showing top 10 rows

In [0]:
df_prod.show(10)

+----------+------------------+
|_ProductID|      Product Name|
+----------+------------------+
|         1|          Cookware|
|         2|      Photo Frames|
|         3|       Table Lamps|
|         4|         Serveware|
|         5|Bathroom Furniture|
|         6|         Computers|
|         7|        Dinnerware|
|         8|  Cocktail Glasses|
|         9|          Baseball|
|        10|          Blankets|
+----------+------------------+
only showing top 10 rows

In [0]:
df_reg.show(10)

+---------+--------------------+---------+
|StateCode|               State|   Region|
+---------+--------------------+---------+
|       AL|             Alabama|    South|
|       AR|            Arkansas|    South|
|       AZ|             Arizona|     West|
|       CA|          California|     West|
|       CO|            Colorado|     West|
|       CT|         Connecticut|Northeast|
|       DC|District of Columbia|    South|
|       DE|            Delaware|    South|
|       FL|             Florida|    South|
|       GA|             Georgia|    South|
+---------+--------------------+---------+
only showing top 10 rows

In [0]:
df_sales_team.show(10)

+------------+----------------+---------+
|_SalesTeamID|      Sales Team|   Region|
+------------+----------------+---------+
|           1|  Adam Hernandez|Northeast|
|           2|   Keith Griffin|Northeast|
|           3|     Jerry Green|     West|
|           4| Chris Armstrong|Northeast|
|           5|   Stephen Payne|    South|
|           6|  Joshua Bennett|Northeast|
|           7|      Shawn Cook|  Midwest|
|           8|    George Lewis|     West|
|           9|     Joshua Ryan|  Midwest|
|          10|Jonathan Hawkins|     West|
+------------+----------------+---------+
only showing top 10 rows

In [0]:
df_sales_ord.show(10)

+-----------+-------------+-------------+------------+---------+---------+------------+------------+------------+-----------+--------+----------+--------------+----------------+----------+---------+
|OrderNumber|Sales Channel|WarehouseCode|ProcuredDate|OrderDate| ShipDate|DeliveryDate|CurrencyCode|_SalesTeamID|_CustomerID|_StoreID|_ProductID|Order Quantity|Discount Applied|Unit Price|Unit Cost|
+-----------+-------------+-------------+------------+---------+---------+------------+------------+------------+-----------+--------+----------+--------------+----------------+----------+---------+
|SO - 000101|     In-Store| WARE-UHY1004|  12/31/2017|5/31/2018|6/14/2018|   6/19/2018|         USD|           6|         15|     259|        12|             5|           0.075|  1,963.10| 1,001.18|
|SO - 000102|       Online| WARE-NMK1003|  12/31/2017|5/31/2018|6/22/2018|    7/2/2018|         USD|          14|         20|     196|        27|             3|           0.075|  3,939.60| 3,348.66|
|SO - 000103|  Distributor| WARE-UHY1004|  12/31/2017|5/31/2018|6/21/2018|    7/1/2018|         USD|          21|         16|     213|        16|             1|            0.05|  1,775.50|   781.22|
|SO - 000104|    Wholesale| WARE-NMK1003|  12/31/2017|5/31/2018| 6/2/2018|    6/7/2018|         USD|          28|         48|     107|        23|             8|           0.075|  2,324.90| 1,464.69|
|SO - 000105|  Distributor| WARE-NMK1003|   4/10/2018|5/31/2018|6/16/2018|   6/26/2018|         USD|          22|         49|     111|        26|             8|             0.1|  1,822.40| 1,476.14|
|SO - 000106|       Online| WARE-PUJ1005|  12/31/2017|5/31/2018| 6/8/2018|   6/13/2018|         USD|          12|         21|     285|         1|             5|            0.05|  1,038.50|   446.56|
|SO - 000107|     In-Store| WARE-XYS1001|  12/31/2017|5/31/2018| 6/8/2018|   6/14/2018|         USD|          10|         14|       6|         5|             4|            0.15|  1,192.60|   536.67|
|SO - 000108|     In-Store| WARE-PUJ1005|   4/10/2018|5/31/2018|6/26/2018|    7/1/2018|         USD|           6|          9|     280|        46|             5|            0.05|  1,815.70| 1,525.19|
|SO - 000109|     In-Store| WARE-PUJ1005|  12/31/2017| 6/1/2018|6/16/2018|   6/21/2018|         USD|           4|          9|     299|        47|             4|             0.3|  3,879.30| 2,211.20|
|SO - 000110|     In-Store| WARE-UHY1004|  12/31/2017| 6/1/2018|6/29/2018|    7/1/2018|         USD|          10|         33|     261|        13|             8|            0.05|  1,956.40| 1,212.97|
+-----------+-------------+-------------+------------+---------+---------+------------+------------+------------+-----------+--------+----------+--------------+----------------+----------+---------+
only showing top 10 rows

##1. Compute top-10 selling products in terms of numbers (i. e. sum(qty) )

In [0]:
from pyspark.sql import SparkSession
 
# Create a SparkSession
spark = SparkSession.builder.appName("ProductQuantity").getOrCreate()
 
# Register the DataFrames as temporary tables to use in SQL queries
df_prod.createOrReplaceTempView("df_prod")
df_sales_ord.createOrReplaceTempView("df_sales_ord")
 
# Write the SQL query using backticks to reference column names with spaces
query = """
SELECT p.`Product Name`, SUM(s.`Order Quantity`) AS Total_Quantity
FROM df_prod p
JOIN df_sales_ord s
ON p.`_ProductID` = s.`_ProductID`
GROUP BY p.`Product Name`
ORDER BY Total_Quantity DESC
LIMIT 10
"""
 
# Execute the SQL query
result = spark.sql(query)
 
# Show the result
result.show()

+----------------+--------------+
|    Product Name|Total_Quantity|
+----------------+--------------+
|     Accessories|         956.0|
|        Platters|         896.0|
|Cocktail Glasses|         879.0|
|       Serveware|         878.0|
|            Rugs|         855.0|
|    Collectibles|         854.0|
|    Wine Storage|         837.0|
|       Wardrobes|         832.0|
|         Wreaths|         830.0|
|Dining Furniture|         827.0|
+----------------+--------------+

In [0]:
from pyspark.sql import functions as F

In [0]:
df_prod.join(df_sales_ord, df_prod["_ProductID"] == df_sales_ord["_ProductID"])\
         .groupBy(df_prod["Product Name"])\
         .agg(F.sum(df_sales_ord["Order Quantity"]).alias("Total_Quantity"))\
         .orderBy(F.desc("Total_Quantity"))\
         .show(10)

+----------------+--------------+
|    Product Name|Total_Quantity|
+----------------+--------------+
|     Accessories|         956.0|
|        Platters|         896.0|
|Cocktail Glasses|         879.0|
|       Serveware|         878.0|
|            Rugs|         855.0|
|    Collectibles|         854.0|
|    Wine Storage|         837.0|
|       Wardrobes|         832.0|
|         Wreaths|         830.0|
|Dining Furniture|         827.0|
+----------------+--------------+
only showing top 10 rows

## 2. Compute top-10 selling products in terms of value (i. e. sum (qty*price) )

In [0]:
from pyspark.sql import SparkSession

In [0]:
# Create a SparkSession
spark = SparkSession.builder.appName("ProductGain").getOrCreate()
 
# Register the DataFrames as temporary tables to use in SQL queries
df_prod.createOrReplaceTempView("df_prod")
df_sales_ord.createOrReplaceTempView("df_sales_ord")
 
# Write the SQL query using backticks to reference column names with spaces
q = """ SELECT p.`Product Name`, SUM(s.`Order Quantity` * s.`Unit Price`) AS TotalGain
FROM df_prod p
JOIN df_sales_ord s
ON p.`_ProductID` = s.`_ProductID`
GROUP BY p.`Product Name`
ORDER BY TotalGain DESC
LIMIT 10 """
 
# Execute the SQL query
result = spark.sql(q)
 
# Show the result
result.show()

+----------------+------------------+
|    Product Name|         TotalGain|
+----------------+------------------+
|        Pendants|          150240.8|
|     Accessories|          133376.9|
|Cocktail Glasses|124492.70000000001|
|          Phones|124037.10000000002|
|        Platters|          122744.0|
|     Table Lamps|          119172.9|
| Home Fragrances|113960.29999999999|
|    Collectibles|111796.20000000003|
|           Vases|          110020.7|
|        Bakeware|108399.29999999999|
+----------------+------------------+

In [0]:
from pyspark.sql import functions as F

In [0]:
df_prod.join(df_sales_ord, df_prod["_ProductID"] == df_sales_ord["_ProductID"])\
         .groupBy(df_prod["Product Name"])\
         .agg(F.sum(df_sales_ord["Order Quantity"]*df_sales_ord["Unit Price"]).alias("Total_Revenue"))\
         .orderBy(F.desc("Total_Revenue"))\
         .show(10)

+----------------+------------------+
|    Product Name|     Total_Revenue|
+----------------+------------------+
|        Pendants|          150240.8|
|     Accessories|          133376.9|
|Cocktail Glasses|124492.70000000001|
|          Phones|124037.10000000002|
|        Platters|          122744.0|
|     Table Lamps|          119172.9|
| Home Fragrances|113960.29999999999|
|    Collectibles|111796.20000000003|
|           Vases|          110020.7|
|        Bakeware|108399.29999999999|
+----------------+------------------+
only showing top 10 rows

## 3. Compute top-10 profit making products. Profit = sum(qty*(price-cost))

In [0]:
# Create a SparkSession
spark = SparkSession.builder.appName("ProductProfit").getOrCreate()
 
# Register the DataFrames as temporary tables to use in SQL queries
df_prod.createOrReplaceTempView("df_prod")
df_sales_ord.createOrReplaceTempView("df_sales_ord")
 
# Write the SQL query using backticks to reference column names with spaces
q = """SELECT p.`Product Name`, SUM(s.`Order Quantity` * (s.`Unit Price` - s.`Unit Cost`)) AS TotalProfit
FROM df_prod p
JOIN df_sales_ord s
ON p.`_ProductID` = s.`_ProductID`
GROUP BY p.`Product Name`
ORDER BY TotalProfit DESC
LIMIT 10
"""
 
# Execute the SQL query
result = spark.sql(q)
 
# Show the result
result.show()

+------------------+------------------+
|      Product Name|       TotalProfit|
+------------------+------------------+
|          Pendants|55020.759999999995|
|       Accessories| 52586.45000000001|
|            Phones|50823.050000000025|
|          Platters|          46374.19|
|  Dining Furniture|44116.159999999996|
|       Table Lamps|43996.420000000006|
|   Home Fragrances|          42046.68|
|  Cocktail Glasses|          41566.85|
|          Bakeware|41455.780000000006|
|Bathroom Furniture|          41103.11|
+------------------+------------------+

In [0]:
df_prod.join(df_sales_ord, df_prod["_ProductID"] == df_sales_ord["_ProductID"])\
         .groupBy(df_prod["Product Name"])\
         .agg(F.sum(df_sales_ord["Order Quantity"]*(df_sales_ord["Unit Price"] - df_sales_ord["Unit Cost"])).alias("Total_Profit"))\
         .orderBy(F.desc("Total_Profit"))\
         .show(10)

+------------------+------------------+
|      Product Name|      Total_Profit|
+------------------+------------------+
|          Pendants|55020.759999999995|
|       Accessories| 52586.45000000001|
|            Phones|50823.050000000025|
|          Platters|          46374.19|
|  Dining Furniture|44116.159999999996|
|       Table Lamps|43996.420000000006|
|   Home Fragrances|          42046.68|
|  Cocktail Glasses|          41566.85|
|          Bakeware|41455.780000000006|
|Bathroom Furniture|          41103.11|
+------------------+------------------+
only showing top 10 rows

## 4. Give top-3 stores selling product product number 25

In [0]:
# Create a SparkSession
spark = SparkSession.builder.appName("TotalSale").getOrCreate()
 
# Register the DataFrames as temporary tables to use in SQL queries
df_sales_ord.createOrReplaceTempView("df_sales_ord")
df_loc.createOrReplaceTempView("df_loc")
 
# Write the SQL query using backticks to reference column names with spaces
q = """
SELECT sl.`_StoreID`, sl.`City Name`, SUM(so.`Order Quantity`) AS TotalSale
FROM df_sales_ord so
JOIN df_loc sl ON so.`_StoreID` = sl.`_StoreID`
WHERE so.`_ProductID` = 25
GROUP BY sl.`_StoreID`, sl.`City Name`
ORDER BY TotalSale DESC, sl.`_StoreID` ASC
LIMIT 3
"""
 
# Execute the SQL query
result = spark.sql(q)
 
# Show the result
result.show()

+--------+----------+---------+
|_StoreID| City Name|TotalSale|
+--------+----------+---------+
|      56|    Orange|     16.0|
|      26|Costa Mesa|     14.0|
|     188|     Perry|     13.0|
+--------+----------+---------+

In [0]:
df_sales_ord.join(df_loc, df_sales_ord["_StoreID"] == df_loc["_StoreID"])\
            .where(df_sales_ord["_ProductID"] == 25)\
            .groupBy(df_loc["_StoreID"],"City Name")\
            .agg(F.sum(df_sales_ord["Order Quantity"]).alias("Total_Sale"))\
            .orderBy(F.desc("Total_Sale"), F.asc(df_loc["_StoreID"]))\
            .show(3)

+--------+----------+----------+
|_StoreID| City Name|Total_Sale|
+--------+----------+----------+
|      56|    Orange|      16.0|
|      26|Costa Mesa|      14.0|
|     188|     Perry|      13.0|
+--------+----------+----------+
only showing top 3 rows

## 5. Give top-3 products sold in midwest region

In [0]:
 # Create a SparkSession
spark = SparkSession.builder.appName("MidwestTopSale").getOrCreate()
 
# Register the DataFrames as temporary tables to use in SQL queries
df_reg.createOrReplaceTempView("df_reg")
df_loc.createOrReplaceTempView("df_loc")
df_sales_ord.createOrReplaceTempView("df_sales_ord")
df_prod.createOrReplaceTempView("df_prod")
 
# Write the SQL query using backticks to reference column names with spaces
q = """
SELECT p.`_ProductID`, p.`Product Name`, SUM(so.`Order Quantity`) AS TopSale
FROM df_reg r
JOIN df_loc sl ON r.`StateCode` = sl.`StateCode`
JOIN df_sales_ord so ON sl.`_StoreID` = so.`_StoreID`
JOIN df_prod p ON p.`_ProductID` = so.`_ProductID`
WHERE r.`Region` = "Midwest"
GROUP BY p.`_ProductID`, p.`Product Name`
ORDER BY TopSale DESC
LIMIT 3
"""
 
# Execute the SQL query
result = spark.sql(q)
 
# Show the result
result.show()

+----------+------------+-------+
|_ProductID|Product Name|TopSale|
+----------+------------+-------+
|        25|TV and video|  224.0|
|        23| Accessories|  206.0|
|        29|    Pendants|  206.0|
+----------+------------+-------+

In [0]:
df_reg.where(df_reg["Region"] == "Midwest")\
           .join(df_loc, df_reg["StateCode"] == df_loc["StateCode"])\
           .join(df_sales_ord, df_loc["_StoreID"] == df_sales_ord["_StoreID"])\
           .join(df_prod, df_prod["_ProductID"] == df_sales_ord["_ProductID"])\
           .groupBy(df_prod["_ProductID"], df_prod["Product Name"])\
           .agg(F.sum(df_sales_ord["Order Quantity"]).alias("TopSale"))\
           .orderBy(F.desc("TopSale"))\
           .show(3)

+----------+------------+-------+
|_ProductID|Product Name|TopSale|
+----------+------------+-------+
|        25|TV and video|  224.0|
|        29|    Pendants|  206.0|
|        23| Accessories|  206.0|
+----------+------------+-------+
only showing top 3 rows

## 6. Give region wise quantity sold for each product. Compute: Region, Product ID, Sum(Qty)

In [0]:
# Create a SparkSession
spark = SparkSession.builder.appName("TotalQuantitySoldByRegion").getOrCreate()
 
# Register the DataFrames as temporary tables to use in SQL queries
df_sales_team.createOrReplaceTempView("df_sales_team")
df_sales_ord.createOrReplaceTempView("df_sales_ord")
 
# Write the SQL query using backticks to reference column names with spaces
q = """SELECT st.`Region`, so.`_ProductID`, SUM(so.`Order Quantity`) AS TotalQuant
FROM df_sales_team st
JOIN df_sales_ord so ON st.`_SalesTeamID` = so.`_SalesTeamID`
GROUP BY st.`Region`, so.`_ProductID`
ORDER BY st.`Region`, so.`_ProductID`"""
 
# Execute the SQL query
result = spark.sql(q)
 
# Show the result
result.show()

+-------+----------+----------+
| Region|_ProductID|TotalQuant|
+-------+----------+----------+
|Midwest|         1|     192.0|
|Midwest|        10|     207.0|
|Midwest|        11|     233.0|
|Midwest|        12|     218.0|
|Midwest|        13|     194.0|
|Midwest|        14|     202.0|
|Midwest|        15|     164.0|
|Midwest|        16|     241.0|
|Midwest|        17|     192.0|
|Midwest|        18|     211.0|
|Midwest|        19|     209.0|
|Midwest|         2|     212.0|
|Midwest|        20|     224.0|
|Midwest|        21|     184.0|
|Midwest|        22|     247.0|
|Midwest|        23|     274.0|
|Midwest|        24|     213.0|
|Midwest|        25|     246.0|
|Midwest|        26|     192.0|
|Midwest|        27|     276.0|
+-------+----------+----------+
only showing top 20 rows

In [0]:
df_sales_team.join(df_sales_ord, df_sales_ord["_SalesTeamID"] == df_sales_team["_SalesTeamID"])\
           .groupBy(df_sales_team["Region"], df_sales_ord["_ProductID"])\
           .agg(F.sum(df_sales_ord["Order Quantity"]).alias("TotalQuant"))\
           .orderBy(df_sales_team["Region"], df_sales_ord["_ProductID"])\
           .show()

+-------+----------+----------+
| Region|_ProductID|TotalQuant|
+-------+----------+----------+
|Midwest|         1|     192.0|
|Midwest|        10|     207.0|
|Midwest|        11|     233.0|
|Midwest|        12|     218.0|
|Midwest|        13|     194.0|
|Midwest|        14|     202.0|
|Midwest|        15|     164.0|
|Midwest|        16|     241.0|
|Midwest|        17|     192.0|
|Midwest|        18|     211.0|
|Midwest|        19|     209.0|
|Midwest|         2|     212.0|
|Midwest|        20|     224.0|
|Midwest|        21|     184.0|
|Midwest|        22|     247.0|
|Midwest|        23|     274.0|
|Midwest|        24|     213.0|
|Midwest|        25|     246.0|
|Midwest|        26|     192.0|
|Midwest|        27|     276.0|
+-------+----------+----------+
only showing top 20 rows

## 7. Compute Average monthly sale in terms of numbers at each store; that , that is on average what numbers of a product are sold on a store in a month

In [0]:
# Create a SparkSession
spark = SparkSession.builder.appName("AverageMonthlySale").getOrCreate()
 
# Register the DataFrame as a temporary table to use in SQL queries
df_sales_ord.createOrReplaceTempView("df_sales_ord")
 
# Write the SQL query to calculate average monthly sale
q = """
SELECT s.`_StoreID`, 
       AVG(s.`MonthlySale`) AS AvgMonthlySale
FROM (
    SELECT `_StoreID`, 
           SUBSTR(`OrderDate`, 4, 7) AS `Month-Year`, 
           SUM(`Order Quantity`) AS `MonthlySale`
    FROM df_sales_ord
    GROUP BY `_StoreID`, `Month-Year`
) s
GROUP BY s.`_StoreID`
ORDER BY s.`_StoreID`
"""
 
# Execute the SQL query
result = spark.sql(q)
 
# Show the result
result.show(367)

+--------+------------------+
|_StoreID|    AvgMonthlySale|
+--------+------------------+
|       1| 6.421052631578948|
|      10|               4.5|
|     100| 7.714285714285714|
|     101| 5.222222222222222|
|     102| 6.421052631578948|
|     103|4.7894736842105265|
|     104| 4.444444444444445|
|     105|               4.5|
|     106|              4.05|
|     107|               6.8|
|     108| 4.461538461538462|
|     109| 3.888888888888889|
|      11|5.2727272727272725|
|     110| 6.684210526315789|
|     111|6.3076923076923075|
|     112|             5.625|
|     113| 6.666666666666667|
|     114|            5.3125|
|     115| 6.214285714285714|
|     116| 5.722222222222222|
|     117| 5.153846153846154|
|     118| 5.111111111111111|
|     119| 5.722222222222222|
|      12| 6.684210526315789|
|     120| 5.833333333333333|
|     121|5.7727272727272725|
|     122|               6.4|
|     123| 5.166666666666667|
|     124| 6.071428571428571|
|     125| 9.466666666666667|
|     126| 6.466666666666667|
|     127|               6.0|
|     128|              6.48|
|     129|              6.45|
|      13| 4.888888888888889|
|     130|               6.0|
|     131| 8.333333333333334|
|     132| 6.421052631578948|
|     133|               5.0|
|     134| 9.357142857142858|
|     135| 6.315789473684211|
|     136|              4.75|
|     137|               5.6|
|     138| 4.826086956521739|
|     139|               5.0|
|      14|               4.7|
|     140|             5.375|
|     141| 4.666666666666667|
|     142| 4.055555555555555|
|     143| 6.130434782608695|
|     144| 5.166666666666667|
|     145|            5.6875|
|     146|               6.0|
|     147|               7.6|
|     148| 6.333333333333333|
|     149|            6.5625|
|      15|            4.9375|
|     150| 5.647058823529412|
|     151| 4.578947368421052|
|     152|              6.25|
|     153|               7.0|
|     154|               6.5|
|     155| 5.380952380952381|
|     156| 5.642857142857143|
|     157| 5.466666666666667|
|     158| 5.230769230769231|
|     159| 5.571428571428571|
|      16| 5.315789473684211|
|     160| 5.428571428571429|
|     161|              5.45|
|     162|4.9523809523809526|
|     163| 5.866666666666666|
|     164|               4.5|
|     165|            5.9375|
|     166|              6.96|
|     167| 7.266666666666667|
|     168|               6.6|
|     169|               4.5|
|      17| 6.956521739130435|
|     170| 6.117647058823529|
|     171| 5.368421052631579|
|     172| 4.222222222222222|
|     173| 5.578947368421052|
|     174|               5.5|
|     175| 6.714285714285714|
|     176| 5.333333333333333|
|     177|               6.0|
|     178| 6.444444444444445|
|     179| 4.384615384615385|
|      18| 6.769230769230769|
|     180| 6.357142857142857|
|     181|            5.6875|
|     182| 6.833333333333333|
|     183| 7.944444444444445|
|     184|               6.0|
|     185|               5.5|
|     186| 6.666666666666667|
|     187| 5.611111111111111|
|     188|             5.625|
|     189| 7.444444444444445|
|      19|               5.4|
|     190| 4.428571428571429|
|     191| 6.615384615384615|
|     192| 6.928571428571429|
|     193| 5.647058823529412|
|     194| 5.857142857142857|
|     195|             5.625|
|     196|               6.6|
|     197|               6.6|
|     198|             5.375|
|     199|5.9411764705882355|
|       2|            5.8125|
|      20|               5.0|
|     200| 5.190476190476191|
|     201|               6.5|
|     202|              5.45|
|     203|               5.8|
|     204| 5.421052631578948|
|     205| 5.333333333333333|
|     206| 7.230769230769231|
|     207| 9.071428571428571|
|     208| 6.055555555555555|
|     209|            7.0625|
|      21| 5.961538461538462|
|     210| 5.916666666666667|
|     211|               6.8|
|     212| 7.764705882352941|
|     213|               5.2|
|     214|               6.6|
|     215| 5.882352941176471|
|     216| 5.181818181818182|
|     217| 6.705882352941177|
|     218| 7.714285714285714|
|     219|              4.75|
|      22| 7.052631578947368|
|     220| 7.214285714285714|
|     221| 5.473684210526316|
|     222| 5.923076923076923|
|     223| 5.461538461538462|
|     224| 5.785714285714286|
|     225|               5.2|
|     226|               4.5|
|     227| 6.909090909090909|
|     228| 5.545454545454546|
|     229| 5.454545454545454|
|      23| 5.454545454545454|
|     230|               6.9|
|     231| 6.411764705882353|
|     232|               7.5|
|     233| 7.357142857142857|
|     234| 6.470588235294118|
|     235| 5.076923076923077|
|     236| 5.647058823529412|
|     237| 5.578947368421052|
|     238| 7.111111111111111|
|     239|            4.9375|
|      24| 8.666666666666666|
|     240|               6.2|
|     241| 6.285714285714286|
|     242| 6.933333333333334|
|     243| 5.066666666666666|
|     244|            7.6875|
|     245| 5.416666666666667|
|     246| 6.842105263157895|
|     247| 5.181818181818182|
|     248| 5.315789473684211|
|     249| 5.571428571428571|
|      25| 5.066666666666666|
|     250| 5.866666666666666|
|     251| 6.533333333333333|
|     252| 4.611111111111111|
|     253| 4.714285714285714|
|     254|3.6363636363636362|
|     255|6.0588235294117645|
|     256| 6.166666666666667|
|     257| 6.666666666666667|
|     258| 5.315789473684211|
|     259| 4.928571428571429|
|      26|              7.12|
|     260| 5.761904761904762|
|     261| 7.769230769230769|
|     262| 6.333333333333333|
|     263|5.0588235294117645|
|     264| 5.428571428571429|
|     265| 4.833333333333333|
|     266|            5.4375|
|     267| 3.272727272727273|
|     268|               5.0|
|     269|             5.125|
|      27| 5.428571428571429|
|     270| 5.857142857142857|
|     271| 6.857142857142857|
|     272| 6.705882352941177|
|     273| 5.636363636363637|
|     274| 4.923076923076923|
|     275|               4.1|
|     276|            6.5625|
|     277| 4.533333333333333|
|     278|              6.55|
|     279| 6.470588235294118|
|      28| 5.842105263157895|
|     280| 4.611111111111111|
|     281| 5.176470588235294|
|     282|               6.5|
|     283| 5.428571428571429|
|     284|               7.0|
|     285|7.0588235294117645|
|     286| 6.157894736842105|
|     287|            6.4375|
|     288| 5.882352941176471|
|     289|               4.8|
|      29|               7.0|
|     290| 5.933333333333334|
|     291| 5.304347826086956|
|     292| 6.066666666666666|
|     293| 5.785714285714286|
|     294| 5.470588235294118|
|     295| 5.421052631578948|
|     296| 5.176470588235294|
|     297| 6.285714285714286|
|     298| 6.117647058823529|
|     299| 5.421052631578948|
|       3|             5.625|
|      30|               6.5|
|     300|               6.4|
|     301| 6.571428571428571|
|     302| 6.666666666666667|
|     303|              7.25|
|     304|               4.5|
|     305| 6.615384615384615|
|     306| 6.352941176470588|
|     307| 4.444444444444445|
|     308| 8.636363636363637|
|     309|5.2105263157894735|
|      31|              4.95|
|     310| 5.571428571428571|
|     311|               4.8|
|     312| 4.526315789473684|
|     313| 7.764705882352941|
|     314|6.2727272727272725|
|     315| 4.352941176470588|
|     316| 5.684210526315789|
|     317| 4.933333333333334|
|     318| 8.866666666666667|
|     319|             4.125|
|      32|5.0588235294117645|
|     320| 6.333333333333333|
|     321| 6.428571428571429|
|     322|               8.0|
|     323|               6.0|
|     324|              6.75|
|     325| 4.882352941176471|
|     326|6.7894736842105265|
|     327| 5.473684210526316|
|     328| 8.047619047619047|
|     329| 4.785714285714286|
|      33| 7.285714285714286|
|     330| 4.578947368421052|
|     331|               6.0|
|     332| 6.333333333333333|
|     333|            7.5625|
|     334| 5.588235294117647|
|     335|5.2105263157894735|
|     336| 5.722222222222222|
|     337|            5.5625|
|     338| 7.230769230769231|
|     339| 5.714285714285714|
|      34|               6.9|
|     340|              5.05|
|     341| 5.260869565217392|
|     342|            5.5625|
|     343| 5.714285714285714|
|     344| 6.235294117647059|
|     345| 5.846153846153846|
|     346| 5.285714285714286|
|     347|               8.0|
|     348| 5.666666666666667|
|     349|               4.3|
|      35| 4.647058823529412|
|     350| 6.666666666666667|
|     351| 6.857142857142857|
|     352| 5.611111111111111|
|     353| 5.571428571428571|
|     354| 4.076923076923077|
|     355| 6.130434782608695|
|     356|               6.4|
|     357|               5.6|
|     358| 5.555555555555555|
|     359| 6.285714285714286|
|      36|               5.5|
|     360| 5.764705882352941|
|     361|               4.8|
|     362| 5.181818181818182|
|     363|            5.1875|
|     364| 5.318181818181818|
|     365|               4.2|
|     366| 4.739130434782608|
|     367|              5.75|
|      37| 4.944444444444445|
|      38| 6.615384615384615|
|      39|               5.0|
|       4| 5.230769230769231|
|      40| 6.076923076923077|
|      41| 6.458333333333333|
|      42| 6.684210526315789|
|      43| 6.555555555555555|
|      44| 4.866666666666666|
|      45|            7.0625|
|      46|4.9411764705882355|
|      47|               7.5|
|      48| 6.117647058823529|
|      49|            4.8125|
|       5| 4.933333333333334|
|      50|              3.75|
|      51|               6.0|
|      52|               5.9|
|      53| 4.222222222222222|
|      54| 6.588235294117647|
|      55|               5.0|
|      56| 5.611111111111111|
|      57| 7.133333333333334|
|      58| 5.826086956521739|
|      59|               6.5|
|       6| 5.833333333333333|
|      60| 5.809523809523809|
|      61| 5.294117647058823|
|      62| 5.333333333333333|
|      63| 7.166666666666667|
|      64| 5.842105263157895|
|      65|              5.35|
|      66| 5.714285714285714|
|      67| 4.333333333333333|
|      68| 4.904761904761905|
|      69| 6.133333333333334|
|       7| 5.157894736842105|
|      70| 5.176470588235294|
|      71| 6.764705882352941|
|      72| 5.428571428571429|
|      73| 7.529411764705882|
|      74| 7.363636363636363|
|      75|               6.5|
|      76|               6.8|
|      77|               6.0|
|      78|            4.8125|
|      79| 6.235294117647059|
|       8|               6.0|
|      80|              4.92|
|      81| 5.181818181818182|
|      82| 5.809523809523809|
|      83|               5.9|
|      84| 5.083333333333333|
|      85|              6.35|
|      86|              5.95|
|      87|5.7894736842105265|
|      88| 6.666666666666667|
|      89|3.9411764705882355|
|       9| 5.466666666666667|
|      90| 5.363636363636363|
|      91|               7.0|
|      92| 4.722222222222222|
|      93|              6.25|
|      94| 7.368421052631579|
|      95|               6.0|
|      96|               6.6|
|      97|               5.5|
|      98| 6.823529411764706|
|      99| 4.894736842105263|
+--------+------------------+

In [0]:
# def get_month(date):
#     return date[3:]
 
monthUDF = F.udf(lambda z: z[3:])
 
df_sales_ord.groupBy(df_sales_ord["_StoreID"], monthUDF(F.col("OrderDate")).alias("MonthYear"))\
            .agg(F.sum(df_sales_ord["Order Quantity"]).alias("MonthlySale"))\
            .groupBy(df_sales_ord["_StoreID"])\
            .agg(F.avg("MonthlySale").alias("AvgMonthlySale"))\
            .orderBy(df_sales_ord["_StoreID"])\
            .show(367)

+--------+------------------+
|_StoreID|    AvgMonthlySale|
+--------+------------------+
|       1| 6.421052631578948|
|      10|               4.5|
|     100| 7.714285714285714|
|     101| 5.222222222222222|
|     102| 6.421052631578948|
|     103|4.7894736842105265|
|     104| 4.444444444444445|
|     105|               4.5|
|     106|              4.05|
|     107|               6.8|
|     108| 4.461538461538462|
|     109| 3.888888888888889|
|      11|5.2727272727272725|
|     110| 6.684210526315789|
|     111|6.3076923076923075|
|     112|             5.625|
|     113| 6.666666666666667|
|     114|            5.3125|
|     115| 6.214285714285714|
|     116| 5.722222222222222|
|     117| 5.153846153846154|
|     118| 5.111111111111111|
|     119| 5.722222222222222|
|      12| 6.684210526315789|
|     120| 5.833333333333333|
|     121|5.7727272727272725|
|     122|               6.4|
|     123| 5.166666666666667|
|     124| 6.071428571428571|
|     125| 9.466666666666667|
|     126| 6.466666666666667|
|     127|               6.0|
|     128|              6.48|
|     129|              6.45|
|      13| 4.888888888888889|
|     130|               6.0|
|     131| 8.333333333333334|
|     132| 6.421052631578948|
|     133|               5.0|
|     134| 9.357142857142858|
|     135| 6.315789473684211|
|     136|              4.75|
|     137|               5.6|
|     138| 4.826086956521739|
|     139|               5.0|
|      14|               4.7|
|     140|             5.375|
|     141| 4.666666666666667|
|     142| 4.055555555555555|
|     143| 6.130434782608695|
|     144| 5.166666666666667|
|     145|            5.6875|
|     146|               6.0|
|     147|               7.6|
|     148| 6.333333333333333|
|     149|            6.5625|
|      15|            4.9375|
|     150| 5.647058823529412|
|     151| 4.578947368421052|
|     152|              6.25|
|     153|               7.0|
|     154|               6.5|
|     155| 5.380952380952381|
|     156| 5.642857142857143|
|     157| 5.466666666666667|
|     158| 5.230769230769231|
|     159| 5.571428571428571|
|      16| 5.315789473684211|
|     160| 5.428571428571429|
|     161|              5.45|
|     162|4.9523809523809526|
|     163| 5.866666666666666|
|     164|               4.5|
|     165|            5.9375|
|     166|              6.96|
|     167| 7.266666666666667|
|     168|               6.6|
|     169|               4.5|
|      17| 6.956521739130435|
|     170| 6.117647058823529|
|     171| 5.368421052631579|
|     172| 4.222222222222222|
|     173| 5.578947368421052|
|     174|               5.5|
|     175| 6.714285714285714|
|     176| 5.333333333333333|
|     177|               6.0|
|     178| 6.444444444444445|
|     179| 4.384615384615385|
|      18| 6.769230769230769|
|     180| 6.357142857142857|
|     181|            5.6875|
|     182| 6.833333333333333|
|     183| 7.944444444444445|
|     184|               6.0|
|     185|               5.5|
|     186| 6.666666666666667|
|     187| 5.611111111111111|
|     188|             5.625|
|     189| 7.444444444444445|
|      19|               5.4|
|     190| 4.428571428571429|
|     191| 6.615384615384615|
|     192| 6.928571428571429|
|     193| 5.647058823529412|
|     194| 5.857142857142857|
|     195|             5.625|
|     196|               6.6|
|     197|               6.6|
|     198|             5.375|
|     199|5.9411764705882355|
|       2|            5.8125|
|      20|               5.0|
|     200| 5.190476190476191|
|     201|               6.5|
|     202|              5.45|
|     203|               5.8|
|     204| 5.421052631578948|
|     205| 5.333333333333333|
|     206| 7.230769230769231|
|     207| 9.071428571428571|
|     208| 6.055555555555555|
|     209|            7.0625|
|      21| 5.961538461538462|
|     210| 5.916666666666667|
|     211|               6.8|
|     212| 7.764705882352941|
|     213|               5.2|
|     214|               6.6|
|     215| 5.882352941176471|
|     216| 5.181818181818182|
|     217| 6.705882352941177|
|     218| 7.714285714285714|
|     219|              4.75|
|      22| 7.052631578947368|
|     220| 7.214285714285714|
|     221| 5.473684210526316|
|     222| 5.923076923076923|
|     223| 5.461538461538462|
|     224| 5.785714285714286|
|     225|               5.2|
|     226|               4.5|
|     227| 6.909090909090909|
|     228| 5.545454545454546|
|     229| 5.454545454545454|
|      23| 5.454545454545454|
|     230|               6.9|
|     231| 6.411764705882353|
|     232|               7.5|
|     233| 7.357142857142857|
|     234| 6.470588235294118|
|     235| 5.076923076923077|
|     236| 5.647058823529412|
|     237| 5.578947368421052|
|     238| 7.111111111111111|
|     239|            4.9375|
|      24| 8.666666666666666|
|     240|               6.2|
|     241| 6.285714285714286|
|     242| 6.933333333333334|
|     243| 5.066666666666666|
|     244|            7.6875|
|     245| 5.416666666666667|
|     246| 6.842105263157895|
|     247| 5.181818181818182|
|     248| 5.315789473684211|
|     249| 5.571428571428571|
|      25| 5.066666666666666|
|     250| 5.866666666666666|
|     251| 6.533333333333333|
|     252| 4.611111111111111|
|     253| 4.714285714285714|
|     254|3.6363636363636362|
|     255|6.0588235294117645|
|     256| 6.166666666666667|
|     257| 6.666666666666667|
|     258| 5.315789473684211|
|     259| 4.928571428571429|
|      26|              7.12|
|     260| 5.761904761904762|
|     261| 7.769230769230769|
|     262| 6.333333333333333|
|     263|5.0588235294117645|
|     264| 5.428571428571429|
|     265| 4.833333333333333|
|     266|            5.4375|
|     267| 3.272727272727273|
|     268|               5.0|
|     269|             5.125|
|      27| 5.428571428571429|
|     270| 5.857142857142857|
|     271| 6.857142857142857|
|     272| 6.705882352941177|
|     273| 5.636363636363637|
|     274| 4.923076923076923|
|     275|               4.1|
|     276|            6.5625|
|     277| 4.533333333333333|
|     278|              6.55|
|     279| 6.470588235294118|
|      28| 5.842105263157895|
|     280| 4.611111111111111|
|     281| 5.176470588235294|
|     282|               6.5|
|     283| 5.428571428571429|
|     284|               7.0|
|     285|7.0588235294117645|
|     286| 6.157894736842105|
|     287|            6.4375|
|     288| 5.882352941176471|
|     289|               4.8|
|      29|               7.0|
|     290| 5.933333333333334|
|     291| 5.304347826086956|
|     292| 6.066666666666666|
|     293| 5.785714285714286|
|     294| 5.470588235294118|
|     295| 5.421052631578948|
|     296| 5.176470588235294|
|     297| 6.285714285714286|
|     298| 6.117647058823529|
|     299| 5.421052631578948|
|       3|             5.625|
|      30|               6.5|
|     300|               6.4|
|     301| 6.571428571428571|
|     302| 6.666666666666667|
|     303|              7.25|
|     304|               4.5|
|     305| 6.615384615384615|
|     306| 6.352941176470588|
|     307| 4.444444444444445|
|     308| 8.636363636363637|
|     309|5.2105263157894735|
|      31|              4.95|
|     310| 5.571428571428571|
|     311|               4.8|
|     312| 4.526315789473684|
|     313| 7.764705882352941|
|     314|6.2727272727272725|
|     315| 4.352941176470588|
|     316| 5.684210526315789|
|     317| 4.933333333333334|
|     318| 8.866666666666667|
|     319|             4.125|
|      32|5.0588235294117645|
|     320| 6.333333333333333|
|     321| 6.428571428571429|
|     322|               8.0|
|     323|               6.0|
|     324|              6.75|
|     325| 4.882352941176471|
|     326|6.7894736842105265|
|     327| 5.473684210526316|
|     328| 8.047619047619047|
|     329| 4.785714285714286|
|      33| 7.285714285714286|
|     330| 4.578947368421052|
|     331|               6.0|
|     332| 6.333333333333333|
|     333|            7.5625|
|     334| 5.588235294117647|
|     335|5.2105263157894735|
|     336| 5.722222222222222|
|     337|            5.5625|
|     338| 7.230769230769231|
|     339| 5.714285714285714|
|      34|               6.9|
|     340|              5.05|
|     341| 5.260869565217392|
|     342|            5.5625|
|     343| 5.714285714285714|
|     344| 6.235294117647059|
|     345| 5.846153846153846|
|     346| 5.285714285714286|
|     347|               8.0|
|     348| 5.666666666666667|
|     349|               4.3|
|      35| 4.647058823529412|
|     350| 6.666666666666667|
|     351| 6.857142857142857|
|     352| 5.611111111111111|
|     353| 5.571428571428571|
|     354| 4.076923076923077|
|     355| 6.130434782608695|
|     356|               6.4|
|     357|               5.6|
|     358| 5.555555555555555|
|     359| 6.285714285714286|
|      36|               5.5|
|     360| 5.764705882352941|
|     361|               4.8|
|     362| 5.181818181818182|
|     363|            5.1875|
|     364| 5.318181818181818|
|     365|               4.2|
|     366| 4.739130434782608|
|     367|              5.75|
|      37| 4.944444444444445|
|      38| 6.615384615384615|
|      39|               5.0|
|       4| 5.230769230769231|
|      40| 6.076923076923077|
|      41| 6.458333333333333|
|      42| 6.684210526315789|
|      43| 6.555555555555555|
|      44| 4.866666666666666|
|      45|            7.0625|
|      46|4.9411764705882355|
|      47|               7.5|
|      48| 6.117647058823529|
|      49|            4.8125|
|       5| 4.933333333333334|
|      50|              3.75|
|      51|               6.0|
|      52|               5.9|
|      53| 4.222222222222222|
|      54| 6.588235294117647|
|      55|               5.0|
|      56| 5.611111111111111|
|      57| 7.133333333333334|
|      58| 5.826086956521739|
|      59|               6.5|
|       6| 5.833333333333333|
|      60| 5.809523809523809|
|      61| 5.294117647058823|
|      62| 5.333333333333333|
|      63| 7.166666666666667|
|      64| 5.842105263157895|
|      65|              5.35|
|      66| 5.714285714285714|
|      67| 4.333333333333333|
|      68| 4.904761904761905|
|      69| 6.133333333333334|
|       7| 5.157894736842105|
|      70| 5.176470588235294|
|      71| 6.764705882352941|
|      72| 5.428571428571429|
|      73| 7.529411764705882|
|      74| 7.363636363636363|
|      75|               6.5|
|      76|               6.8|
|      77|               6.0|
|      78|            4.8125|
|      79| 6.235294117647059|
|       8|               6.0|
|      80|              4.92|
|      81| 5.181818181818182|
|      82| 5.809523809523809|
|      83|               5.9|
|      84| 5.083333333333333|
|      85|              6.35|
|      86|              5.95|
|      87|5.7894736842105265|
|      88| 6.666666666666667|
|      89|3.9411764705882355|
|       9| 5.466666666666667|
|      90| 5.363636363636363|
|      91|               7.0|
|      92| 4.722222222222222|
|      93|              6.25|
|      94| 7.368421052631579|
|      95|               6.0|
|      96|               6.6|
|      97|               5.5|
|      98| 6.823529411764706|
|      99| 4.894736842105263|
+--------+------------------+

## 8. Compute sales bifurcation of each warehouse; that total sales amount through each channel

In [0]:
from pyspark.sql import SparkSession
 
# Create a SparkSession
spark = SparkSession.builder.appName("TotalSalesThroughChannel").getOrCreate()
 
# Register the DataFrame as a temporary table to use in SQL queries
df_sales_ord.createOrReplaceTempView("df_sales_ord")
 
# Write the SQL query to calculate total sales by warehouse and sales channel
q = """
SELECT `WarehouseCode`, `Sales Channel`, SUM(`Total_Sales`) AS `Total_Sales`
FROM (
    SELECT `WarehouseCode`, `Sales Channel`, (`Order Quantity` * `Unit Price`) AS `Total_Sales`
    FROM df_sales_ord
) subquery
GROUP BY `WarehouseCode`, `Sales Channel`
ORDER BY `WarehouseCode`, `Sales Channel`
"""
 
# Execute the SQL query
result = spark.sql(q)
 
# Show the result
result.show()

+-------------+-------------+------------------+
|WarehouseCode|Sales Channel|       Total_Sales|
+-------------+-------------+------------------+
| WARE-MKL1006|  Distributor| 99850.10000000002|
| WARE-MKL1006|     In-Store|          211224.2|
| WARE-MKL1006|       Online|          142086.9|
| WARE-MKL1006|    Wholesale|           19208.9|
| WARE-NBV1002|  Distributor|           53191.3|
| WARE-NBV1002|     In-Store|181275.19999999998|
| WARE-NBV1002|       Online|121323.59999999998|
| WARE-NBV1002|    Wholesale|           50712.3|
| WARE-NMK1003|  Distributor|228081.40000000002|
| WARE-NMK1003|     In-Store| 578055.9000000001|
| WARE-NMK1003|       Online| 541125.5000000002|
| WARE-NMK1003|    Wholesale|130817.49999999999|
| WARE-PUJ1005|  Distributor|135380.19999999998|
| WARE-PUJ1005|     In-Store|          297285.7|
| WARE-PUJ1005|       Online|243002.30000000002|
| WARE-PUJ1005|    Wholesale|104754.49999999999|
| WARE-UHY1004|  Distributor|          130529.4|
| WARE-UHY1004|     In-Store|          251350.5|
| WARE-UHY1004|       Online|          227599.0|
| WARE-UHY1004|    Wholesale| 95863.59999999999|
+-------------+-------------+------------------+
only showing top 20 rows

In [0]:
df_sales_ord.groupBy(df_sales_ord["WarehouseCode"], df_sales_ord["Sales Channel"])\
           .agg(F.sum(df_sales_ord["Order Quantity"]*df_sales_ord["Unit Price"]).alias("Total_Sales"))\
           .orderBy(df_sales_ord["WarehouseCode"], df_sales_ord["Sales Channel"])\
           .show()

+-------------+-------------+------------------+
|WarehouseCode|Sales Channel|       Total_Sales|
+-------------+-------------+------------------+
| WARE-MKL1006|  Distributor| 99850.10000000002|
| WARE-MKL1006|     In-Store|          211224.2|
| WARE-MKL1006|       Online|          142086.9|
| WARE-MKL1006|    Wholesale|           19208.9|
| WARE-NBV1002|  Distributor|           53191.3|
| WARE-NBV1002|     In-Store|181275.19999999998|
| WARE-NBV1002|       Online|121323.59999999998|
| WARE-NBV1002|    Wholesale|           50712.3|
| WARE-NMK1003|  Distributor|228081.40000000002|
| WARE-NMK1003|     In-Store| 578055.9000000001|
| WARE-NMK1003|       Online| 541125.5000000002|
| WARE-NMK1003|    Wholesale|130817.49999999999|
| WARE-PUJ1005|  Distributor|135380.19999999998|
| WARE-PUJ1005|     In-Store|          297285.7|
| WARE-PUJ1005|       Online|243002.30000000002|
| WARE-PUJ1005|    Wholesale|104754.49999999999|
| WARE-UHY1004|  Distributor|          130529.4|
| WARE-UHY1004|     In-Store|          251350.5|
| WARE-UHY1004|       Online|          227599.0|
| WARE-UHY1004|    Wholesale| 95863.59999999999|
+-------------+-------------+------------------+
only showing top 20 rows

## 9. Compute average "product retention period" (i. e. the difference between procurement date and order date) at each warehouse

In [0]:
from pyspark.sql.types import IntegerType
 
def get_retention(procure, order):
    from datetime import datetime
    procure_date = datetime.strptime(procure, "%m/%d/%Y")
    order_date = datetime.strptime(order, "%m/%d/%Y")
    return (order_date - procure_date).days
 
retentionUDF = F.udf(lambda x, y: get_retention(x, y), IntegerType())
 
result_df = df_sales_ord.withColumn("Retention", retentionUDF(F.col("ProcuredDate"), F.col("OrderDate"))) \
    .groupBy("WarehouseCode") \
    .agg(F.avg("Retention").alias("AverageRetention(days)"))
 
result_df.show()

+-------------+----------------------+
|WarehouseCode|AverageRetention(days)|
+-------------+----------------------+
| WARE-XYS1001|    109.35679214402619|
| WARE-PUJ1005|    109.51274982770504|
| WARE-MKL1006|     108.2532088681447|
| WARE-NMK1003|    109.46986027944112|
| WARE-UHY1004|    108.73359683794466|
| WARE-NBV1002|    109.81476121562952|
+-------------+----------------------+

## 10. Give Year-Month sale of all products

In [0]:
from pyspark.sql.functions import date_format, col, to_date, datediff, avg, expr
 
# Create a SparkSession
spark = SparkSession.builder.appName("YearMonthSale").getOrCreate()
 
# Extract the day, month, and year components
df = df_sales_ord.withColumn("Month", expr("month(to_date(OrderDate, 'M/d/yyyy'))"))
df = df_sales_ord.withColumn("Day", expr("day(to_date(OrderDate, 'M/d/yyyy'))"))
df = df_sales_ord.withColumn("Year", expr("year(to_date(OrderDate, 'M/d/yyyy'))"))
 
# Format the date as "MM/DD/YYYY"
df = df_sales_ord.withColumn("OrderDate", date_format(to_date(col("OrderDate"), "M/d/yyyy"), "MM/dd/yyyy"))
 
def get_month(date):
    return date[6:]+"-"+date[0:2]
 
monthUDF = F.udf(lambda z: get_month(z))
 
df.join(df_prod, df["_ProductID"] == df_prod["_ProductID"])\
            .groupBy(df["_ProductID"], df_prod["Product Name"], monthUDF(F.col("OrderDate")).alias("Year-Month"))\
            .agg(F.sum(df_sales_ord["Order Quantity"]).alias("SaleInMonth"))\
            .orderBy(df["_ProductID"], df_prod["Product Name"], "Year-Month")\
            .show()

+----------+------------+----------+-----------+
|_ProductID|Product Name|Year-Month|SaleInMonth|
+----------+------------+----------+-----------+
|         1|    Cookware|   2018-05|        5.0|
|         1|    Cookware|   2018-06|       24.0|
|         1|    Cookware|   2018-07|       39.0|
|         1|    Cookware|   2018-08|       22.0|
|         1|    Cookware|   2018-09|       21.0|
|         1|    Cookware|   2018-10|       30.0|
|         1|    Cookware|   2018-11|       23.0|
|         1|    Cookware|   2018-12|       30.0|
|         1|    Cookware|   2019-01|       15.0|
|         1|    Cookware|   2019-02|       10.0|
|         1|    Cookware|   2019-03|       19.0|
|         1|    Cookware|   2019-04|       18.0|
|         1|    Cookware|   2019-05|       36.0|
|         1|    Cookware|   2019-06|       21.0|
|         1|    Cookware|   2019-07|       21.0|
|         1|    Cookware|   2019-08|       10.0|
|         1|    Cookware|   2019-09|       35.0|
|         1|    Cookware|   2019-10|        9.0|
|         1|    Cookware|   2019-11|       19.0|
|         1|    Cookware|   2019-12|       31.0|
+----------+------------+----------+-----------+
only showing top 20 rows

## 11. Compute a fact file with the dimensions of " store_id ", " product_id ", " month_year "

In [0]:
df_sales_ord.select(F.col("_StoreID").alias("StoreID"),\
                   F.col("_ProductID").alias("ProductID"),\
                   F.col("OrderDate").alias("Date"),
                   F.col("Order Quantity").alias("Quantity"),
                   F.col("Unit Price").alias("Price"))\
            .cube("StoreID","ProductID","Date")\
            .agg(F.sum("Quantity").alias("Quantity"), F.sum(F.col("Quantity") * F.col("Price")).alias("Amount"))\
            .orderBy(F.asc_nulls_last("StoreID"), F.asc_nulls_last("ProductID"))\
            .show(100)

+-------+---------+----------+--------+-----------------+
|StoreID|ProductID|      Date|Quantity|           Amount|
+-------+---------+----------+--------+-----------------+
|      1|       11|      null|     5.0|             null|
|      1|       11|11/17/2019|     5.0|             null|
|      1|       16| 9/13/2020|     6.0|             null|
|      1|       16|  8/6/2019|     7.0|           6237.7|
|      1|       16|      null|    13.0|           6237.7|
|      1|       19|  6/4/2020|     8.0|           1715.2|
|      1|       19|      null|     8.0|           1715.2|
|      1|       22| 3/28/2020|     6.0|           1407.0|
|      1|       22| 4/27/2019|     6.0|5467.200000000001|
|      1|       22|      null|    12.0|6874.200000000001|
|      1|       23|      null|     8.0|             null|
|      1|       23| 8/21/2020|     8.0|             null|
|      1|       27|      null|     4.0|             null|
|      1|       27| 2/20/2020|     4.0|             null|
|      1|       28|      null|     7.0|             null|
|      1|       28| 10/4/2019|     7.0|             null|
|      1|       29| 8/21/2019|     1.0|             null|
|      1|       29|  4/4/2020|     6.0|             null|
|      1|       29|      null|     7.0|             null|
|      1|        3|      null|     2.0|             null|
|      1|        3| 11/1/2020|     2.0|             null|
|      1|       30| 6/15/2018|     1.0|             null|
|      1|       30|      null|     3.0|             null|
|      1|       30| 3/14/2020|     2.0|             null|
|      1|       33| 8/25/2018|     5.0|             null|
|      1|       33|      null|    10.0|             null|
|      1|       33|10/23/2019|     5.0|             null|
|      1|       34| 1/17/2020|     2.0|           1956.4|
|      1|       34|      null|     2.0|           1956.4|
|      1|       35|      null|     6.0|             null|
|      1|       35| 4/14/2019|     6.0|             null|
|      1|       41|      null|     3.0|             null|
|      1|       41| 7/12/2018|     3.0|             null|
|      1|       43|      null|     8.0|             null|
|      1|       43| 6/18/2019|     2.0|             null|
|      1|       43|  7/2/2020|     6.0|             null|
|      1|       44| 7/30/2020|     1.0|             null|
|      1|       44|      null|     9.0|             null|
|      1|       44| 3/14/2020|     8.0|             null|
|      1|        5|  7/7/2019|     7.0|             null|
|      1|        5|      null|     7.0|             null|
|      1|        6|12/11/2018|     2.0|             null|
|      1|        6|      null|     2.0|             null|
|      1|        7|      null|     5.0|            837.5|
|      1|        7|12/11/2019|     5.0|            837.5|
|      1|        8| 1/13/2019|     1.0|             null|
|      1|        8|      null|     1.0|             null|
|      1|     null|  7/2/2020|     6.0|             null|
|      1|     null| 6/15/2018|     1.0|             null|
|      1|     null| 3/28/2020|     6.0|           1407.0|
|      1|     null|      null|   122.0|          17621.0|
|      1|     null| 6/18/2019|     2.0|             null|
|      1|     null|  6/4/2020|     8.0|           1715.2|
|      1|     null| 1/13/2019|     1.0|             null|
|      1|     null| 1/17/2020|     2.0|           1956.4|
|      1|     null| 8/21/2019|     1.0|             null|
|      1|     null|12/11/2018|     2.0|             null|
|      1|     null| 2/20/2020|     4.0|             null|
|      1|     null| 7/12/2018|     3.0|             null|
|      1|     null| 3/14/2020|    10.0|             null|
|      1|     null|10/23/2019|     5.0|             null|
|      1|     null| 9/13/2020|     6.0|             null|
|      1|     null| 8/25/2018|     5.0|             null|
|      1|     null| 4/27/2019|     6.0|5467.200000000001|
|      1|     null| 11/1/2020|     2.0|             null|
|      1|     null|  7/7/2019|     7.0|             null|
|      1|     null| 4/14/2019|     6.0|             null|
|      1|     null|11/17/2019|     5.0|             null|
|      1|     null| 7/30/2020|     1.0|             null|
|      1|     null|12/11/2019|     5.0|            837.5|
|      1|     null|  8/6/2019|     7.0|           6237.7|
|      1|     null| 10/4/2019|     7.0|             null|
|      1|     null|  4/4/2020|     6.0|             null|
|      1|     null| 8/21/2020|     8.0|             null|
|     10|        1|11/15/2019|     6.0|             null|
|     10|        1|      null|     6.0|             null|
|     10|       11|      null|     1.0|             null|
|     10|       11|10/26/2020|     1.0|             null|
|     10|       12| 12/7/2018|     6.0|           5145.6|
|     10|       12|      null|     6.0|           5145.6|
|     10|       21|11/12/2020|     8.0|             null|
|     10|       21|      null|     8.0|             null|
|     10|       31| 12/7/2019|     2.0|             null|
|     10|       31|      null|     2.0|             null|
|     10|       33|11/27/2019|     1.0|             null|
|     10|       33|      null|     1.0|             null|
|     10|       39|      null|     4.0|             null|
|     10|       39|12/30/2019|     4.0|             null|
|     10|       41| 9/19/2020|     2.0|           1876.0|
|     10|       41|      null|     2.0|           1876.0|
|     10|        7|10/30/2019|     6.0|             null|
|     10|        7|      null|     6.0|             null|
|     10|     null| 12/7/2019|     2.0|             null|
|     10|     null|      null|    36.0|           7021.6|
|     10|     null|12/30/2019|     4.0|             null|
|     10|     null| 12/7/2018|     6.0|           5145.6|
|     10|     null|11/27/2019|     1.0|             null|
|     10|     null|10/30/2019|     6.0|             null|
|     10|     null|11/12/2020|     8.0|             null|
|     10|     null|11/15/2019|     6.0|             null|
+-------+---------+----------+--------+-----------------+
only showing top 100 rows